
h1
{
    text-align: center
}

.title, .sty-01
{
    border-style: solid;
    border-color: gray;
    margin-bottom: 20px;
  


.title div
{
    width: 30%;
    margin: 20px;
    display: inline-block;
}

.sty-01 p
{
    background-color: whitesmoke;
    margin: 0px;
    padding: 15px;
}


.button
{
    text-align: center
}

#textarea
{
    width: 98%;
    height: 80px;
}




